.card {
  background-color: var(--color-gray-200);
  border-radius: var(--border-rounded);

  margin: 0.5rem;
  width: 17rem;

  &__body {
    padding: 1rem;
  }
  &__image {
    width: 15rem;
    height: 15rem;
  }
}
