.field {
  &__label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-gray-700);
    margin-bottom: 0.25rem;
  }
  &__value {
    font-size: 1.25rem;
    color: rgb(41, 41, 41);
  }
}
